.aboutsectionMainClass{
    display: 70vw;
}
.aboutSectionFlexClass{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 70vw;
    margin: 5vh auto 5vh;
}
.aboutIMG{
    width: 30vw;
}

.inputFieldClass{
    width: 53vw;
    padding: 1vw;
    margin: 1vw;
    font-size: 2vw;
}
.inputButtonClass{
    width: 10vw;
    padding: 0.5vw;
    margin: 0.5vw;
    font-size: 2vw;
    border-radius: 10px;
}

.careerChoiceButtons{
    /* width: 15vw; */
    height: 7vh;
    font-size: 1.5vw;
    padding: 0.2vw;
    margin: 0.2vw;
}

.content {
    margin-top: 10vh;
}
.content h3{
    margin: 5vh 0;
}
.current {
    padding: 5vh;
}
.current h1{
    width: 70vw;
    margin-left: 70vh;
}
.options {
    margin-left: 10vh;
}
.options button {
    position: relative;
    z-index: 1;
  }
  .options button:hover::after {
    transform: scaleY(1);
    transition-timing-function: ease-out;
  }
  
  .options button:hover{
    border: 5px solid #5AB0DB;
    border-radius: 50px;
    background: #aaf5cc;
  }